<div>
  <h2> Наша цель:</h2>

  <div class="goal">
    <b>Приводити людей до  Ісуса Христа,</b> щоб вони <b>ставали членами Божої сім’ї,</b> допомагати їм <b>духовно зростати,</b> щоб вони були готові до <b>служіння в церкві,</b> та виконували <b>Боже доручення,</b> і щоб в усьому цьому – <b>прославлялось ім’я Господнє.</b>
  </div>
</div>
