<div class="center center-block">
  <h1> Історія Зіньківської церкви “Світло спасіння”. </h1>

  <iframe class="video-history" src="https://www.youtube.com/embed/WfGX8NRd3z4" frameborder="0" allowfullscreen></iframe>

  <h3>
    Историю церкви можно
    <%=link_to "скачать", content_path, remote: true %>
    в текстовом формате!
  </h3>
</div>