<div class="center hero-unit">
  <iframe  class="video_history" src="https://www.youtube.com/embed/WfGX8NRd3z4" frameborder="0" allowfullscreen></iframe>

  <h2> Історія Зіньківської церкви “Світло спасіння”. </h2>

  <p>
    Одного разу Ісус Христос сказав: “Я побудую церкву Мою і ворота пекла не здолають її”. Це були пророчі слова. В книзі Дії Святих Апостолів, у 2 розділі, говориться про те, як ці пророчі слова почали здійснюватися. День П’ятидесятниці вважається днем утворення Вселенської церкви, та першої місцевої, Єрусалимської церкви. З того дня Євангеліє почало розповсюджуватися по всій землі. І там, де люди приймали вчення Ісуса Христа, стаючи християнами, - утворювалися місцеві осередки, церкви. По Слову Божому, церква – це не якась споруда, чи храм, чи дім молитви, а люди, які повірили в Ісуса Христа, стали Його послідовниками.
  </p>

  <p>
    В кожної місцевої церкви є свій початок, своя дорога. Я хочу розповісти історію виникнення Зіньківської церкви “Світло спасіння”, яка входить до Союзу церков євангельських християн баптистів України, (далі ЄХБ). Цей Союз налічує більше трьох з половиною тисяч церков. В Полтавській області до цього союзу входить 72 церкви. А в нашому районі – три: в Зінькові, в Опішні, та в с.Шилівка. А поблизу є такі церкви також в Гадячі, та в с.Лютенька Гадяцького району, в Котельві, у Великих Будищах та Диканьці, 6 церков у Полтаві.
  </p>

  <p>
    Деяких людей лякає назва: євангельські християни баптисти. Що ж означають ці слова?
  </p>

  <p>
    У цих словах немає нічого страшного і дивного, для тих людей, які знають грецьку мову.
  </p>

  <p>
    Сьогодні слово “ЄВАНГЕЛІЄ” у нас в Україні має релігійне походження. Але 2000 років назад, коли Ісус Христос перебував на землі, це слово вживали ті люди, які сповіщали якусь радісну звістку. Вони ішли і кричали: “Євангеліє! Євангеліє!”, або на нашій мові: “Радісна звістка! Радісна звістка!”.
  </p>  
  Наша церква називається євангельська, тому що ми розповідаємо людям про радісну звістку спасіння в Ісусі Христі. Бог любить кожну людину. Він хоче допомогти. Бог і сьогодні продовжує спасати людей від гріха.

  Слідуюче слово “ХРИСТИЯНИ”, - я думаю всім знайоме. Іншими словами, християни,- це послідовники вчення Ісуса Христа.

  В Біблії, в книзі Дії Святих Апостолів, в 11 розділі написано, що у місті Антиохія, вперше послідовників Ісуса стали називати християнами. А церква в цьому місті утворилася через 10-12 років після вознесіння Христа на небо.

  Щодо назви “БАПТИСТИ”, то відповідь дуже проста. Грецьке слово “БАПТИДЗО” перекладається як – “занурення у воду”. Саме так хрестився в Йордані Син Божий – Ісус Христос. Про це дійство ми згадуємо кожного року, 19 січня. Так само занурюючись у воду приймають хрещення баптисти, таким чином стаючи членами церкви Ісуса Христа на землі.

  У 3 розділі Євангелія від Матвія, у 1 та 2 віршах, написані такі слова: “У ті дні прийшов Іван Хреститель і проповідував у пустині Іудейській промовляючи: Покайтеся, бо наблизилось Царство Небесне!” На грецькій мові слова Іван Хреститель звучать як Іван Баптист.

  Головне у нашому віросповіданні, це - щире каяття перед Богом, хрещення по вірі і побожне життя. Щоб людина не лише вважала себе християнином, а й далі доводила свою належність до сім’ї Божої – ділами.

  Зіньківська церква “Світло спасіння” розпочала свою діяльність ще в 1926 році, хоч на той час вона не мала назви “Світло спасіння”, а в різних документах називалась Зіньківською релігійною громадою Євангельських християн – баптистів.

  Збереглася фотографія 1926 року, на знімку сто сімдесят осіб різного віку. Знімок зроблено на березі річки Ташань, в Зінькові, після хрещення. На знімку в низу є надпис – “Группа евангельских христиан Зеньковского района, в день крещения, в г.Зенькове, 1926 года, июня месяца, 22 дня.” Цю фотографію передали сестри, Прохорчук Ніна Іванівна та Буденна Надія Іванівна, яких мама – Буденна Варвара Аврамівна саме тоді приймала водне хрещення.

  Підтвердженням того, що церква організувалась саме в 1926 році є заява про реєстрацію і безліч різних документів з якими вдалось ознайомитися відвідавши державний архів, що знаходиться в м.Полтава.

  Ось до вашого відому заява про реєстрацію.

 

Заява про реєстрацію.

  Добровільно об’єднані в релігійну громаду, в кількості 63 осіб, просимо нашу громаду, яка існує з 1926 року зареєструвати під назвою “Громада Євангельских християн – баптистів” і надати в безстрокове і безкоштовне користування будинок молитовного дому, що знаходиться в м.Зіньків, по вул.Першотравнева, 10, Терещенко Софії Кирилівни.

  Управління молитовним домом і ведення господарства доручається: Конді Марії Терентіївні, Буденній Варварі Аврамовні і Ярмолі Варварі Остаповні.

  Священнодійство доручається пресвітеру Калініченку Василю Никифоровичу.

Цю заяву підписали 20 чоловік: 
1.  Яременко Маруся Яківна, 
    1895 р.н. – с.Бобрівник; 
2.  Тягун Агафія Авраамівна, 
    1874 р.н. – с.Бобрівник; 
3.  Дригоза Олександра Семенівна, 
    1910 р.н. – с.Бобрівник; 
4.  Сухомлин Харитина Никифорівна, 
    1884 р.н. – м.Зіньків; 
5.  Пацюк Іван Трохимович, 
    1868 р.н. – с.Бобрівник; 
6.  Терещенко Соня Кирилівна, 
    1891 р.н. – м.Зіньків; 
7.  Саранча Катерина Миколаївна, 
    1886 р.н. – с.Бобрівник; 
8.  Саранча Дарья Гаврилівна, 
    1894 р.н. – с.Бобрівник; 
9.  Яскевич Павло Андрійович, 
    1885 р.н. – м.Зіньків; 
10. Яскевич Євдокія Петрівна, 
    1886 р.н. – м.Зіньків; 
11. Міщенко Настя Іванівна, 
    1880 р.н. – м.Зіньків; 
12. Ільїна Марія Григорівна, 
    1885 р.н. – м.Зіньків; 
13. Ярошенко Марфа Федорівна, 
    1911 р.н. – м.Зіньків; 
14. Городніченко Катерина Платонівна, 
    1885 р.н. – с.Бобрівник; 
15. Пацюк Марина Іванівна, 
    1893 р.н. – с.Бобрівник; 
16. Конда Марія Терентієвна, 
    1910 р.н. – с.Л.Будища; 
17. Назаренко Уляна Іванівна, 
    1910 р.н. – с.Л.Будища; 
18. Брага Галина Євсеївна, 
    1918 р.н. – Яновщина; 
19. Яременко Явдоха Іванівна, 
    1877 р.н. – с.Бобрівник; 
20. Гур Роман Микитович, 
    1873 р.н. – с.Бобрівник; 
Удостовіряєм: 
   Пресвітер: Калініченко В.Н. 
   Члени церковної ради: Буденна В.А., 
             Москвич Т.Г., Ярмола В.О. 
13 грудня 1945 року

 
Договір 
на аренду приміщення під дім молитви

  Ми, що нижче підписалися, члени церковної ради громади євангельських християн баптистів м.Зінькова: Москвич Т.Г., Буденна В.А., Єрьохіна А.І. з одного боку, та Терещенко Софія Кирилівна з іншого боку, склали цей договір в слідуючім, - 
  Гр.Терещенко С.К. віддає в аренду своє приміщення, що розташоване в м.Зінькові по вул.Першотравнева, 10, для проведення служінь Зіньківською громадою ЄХБ, з 1 січня 1946р., по 1 січня 1947 р. 
  Церква зобов’язується виплачувати Терещенко С.К. по 100 (сто) карбованців у місяць. 
  13 грудня 1945 року. Члени церковної ради: 
  Москвич Т.Г. 
  Буденна В.А. 
  Єрьохіна А.І.

  Відповіддю на заяву, була видана

 
Справка 
про реєстрацію релігійної громади

  17 грудня 1945 року зареєстровано під номером 41, релігійну громаду євангельських християн баптистів, яка знаходиться в місті Зінькові в орендованому помешканні громадянки Терещенко Софії Кирилівни, вул.Першотравнева, 10. 
  А також справка служителя культа видана Калініченко Василю Никифоровичу, який проживає в с.Бобрівник, в тім, що він зареєстрований в якості пресвітера євангельських християн баптистів.

 

Реєстраційна відомість 
громади Євангельських християн баптистів м.Зінькова 
і що належать до неї груп – хутора Волохи, Шилівської сільради; 
хутора Залуги, Бірківської сільради; села Яновщина.

Група віруючих м.Зінькова – 34 особи: 
1.  Калініченко Василь Никифорович, 
    1907; 1930, Бобрівник 
2.  Гур Роман Микитович, 
    1873, 1944, Бобрівник 
3.  Москвич Назар Гнатович, 
    1884, 1930, Бобрівник; 
4.  Городніченко Катерина Платонівна, 1
    885, 1939, х.Саранчівка 
5.  Саранча Оксана Антонівна 
6.  Москвич Олена Прокопівна, 
    1892, 1926, Бобрівник; 
7.  Саранча Дар’я Гаврилівна, 
    1894, 1930, Бобрівник; 
8.  Буденна Варвара Аврамівна, 
    1887, 1926, Саранчівка; 
9.  Пацюк Іван Трохимович, 
    1868, 1926, Бобрівник; 
10. Пацюк Марина Іванівна, 
    1893, 1943, Бобрівник; 
11. Яременко Явдокія Іванівна, 
    1887, 1926, Бобрівник; 
12. Дригоза Олександра Семенівна, 
    1910, 1943, Бобрівник; 
13. Поспєхова Пріся Ільїнічна 
14. Дубовик Мелашка Андріяновна, 
    1874, 1924, В.Павлівка; 
15. Яскевич Павло Андрійович, 
    1885, 1928, Зіньків, пер.Валовий,3; 
16. Яскевич Євдокія Петрівна, 
    1886, 1928, Зіньків, пер.Валовий,3; 
17. Ярошенко Марфа Федорівна, 
    1911, 1934, Зіньків; 
18. Терещенко Соня Кирилівна, 
    1891,1926,Зіньків,вул.Першотравнева,10; 
19. Максименко Євдокія Михайлівна, 
    1882, 1944, Зіньків; 
20. Пукало Домаха Мусійовна; 
21. Сухомлин Уля (Юля) Степанівна, 
    1921, 1943, Зіньків (вище); 
22. Сухомлин Харитина Никифорівна, 
    1884,1930,Зіньків,вул.Першотравнева,31; 
23. Чворун Надія Іванівна, 
    1884, 1943, Зіньків; 
24. Демиденко Настя Романівна, 
    1899, 1930, Зіньків; 
25. Сулим Варвара Гнатівна, 
    1908, 1928, Бобрівник; 
26. Кузьменко Настя Федорівна (Іванівна), 
    1889, 1944, Бобрівник; 
27. Москвич Маруся Петрівна, 
    1891, 1944, Бобрівник; 
28. Ярмола Варвара Остапівна, 
    1893, 1944, Бобрівник; 
29. Коновал Мотрона Трохимівна; 
30. Москвич Тимофій Гнатович, 
    1889, 1926, Бобрівник; 
31. Міщенко Настя Іванівна, 
    1880,1928,Зіньків,вул.Першотравнева,26; 
32. Яременко Маруся Яківна, 
    1895, 1944, Бобрівник; 
33. Саранча Катерина Микитівна, 
    1886, 1944, Бобрівник; 
34. Тягун Агаф’я Аврамівна, 
    1874, 1944, Бобрівник; 
      Єрьохіна А.І., 
      1874, 1917, росіянка, Зіньків 
      Кондратенко Палажка Д., 
      1889,1929,Зіньків,Червоноармійська,10

Група віруючих хутора Залуги – 9 осіб: 
35. Зуй Іван Кирилович, 
    1875 р.н. (1923 г. ч.ц.) 
36. Микитенко Іван Тимофійович 
37. Маслівець Марія Тимофійовна, 
    1884 р.н. (1924) 
38. Курган Євгенія Тимофійовна, 
39. Марченко Наталка Сергіївна, 
    1898 р.н. (1924) 
40. Стрибко Харитина Прокопівна, 
    1909 р.н. (1944) 
41. Ніценко Палажка Максимовна 
42. Конда Марія Терентійовна 
    (1910 г. с.Л.Будища) 
43. Назаренко Уляна Іванівна, 
    1910, 1944, с.Л.Будища 
     Зуй С.Т. 1874, 1924, с.Бірки 
     Артюх Я.Г. 1908, 1932, с.Старомихайлівка 
     Артюх О.С. 1911, 1925, с.Старомихайлівка 
Група віруючих хутора Волохи – 11 осіб: 
44. Влох Полікарп Ілліч, 
    1891, 1929, Волохи; 
45. Влох Єлизавета Власівна; 
46. Оксюк Катерина Омелянівна (Н.І.), 
    1893, 1942, Волохи; 
47. Авраменко Мотрона Марківна, 
    1890, 1944, Петрівка; 
48. Родько Марфа Марківна, 
    1887, 1942, Петрівка; 
49. Шаблій Пріся Яківна, 
    1902, 1943, Петрівка; 
50. Горбаненко Настя Іванівна, 
    1923, 1942, Петрівка; 
51. Волохова Софія Іванівна, 
    1877, 1944, Петрівка; 
52. Ялівець Федір Савович, 
    1893, 1922, Петрівка; 
53. Даценко Полікарп Іванович, 
    1883, 1928, с.Молотове; 
54. Воскобійник Лепестина Андріївна

Група віруючих с.Яновщина – 9 осіб: 
55. Брага Галина Євсеївна, 
    1918, 1944, Яновщина; 
56. Брага Домаха Сергіївна, 
    1917, 1944, Яновщина; 
57. Гузь Настя Василівна, 
    1919,1944, Яновщина; 
58. Шкурик Тетяна 
    1908,1928, Яновщина; 
59. Гайкова Параска Семенівна, 
    1905, 1944, с.Удовиченки; 
60. Пазинець Марія Семенівна, 
    1900, 1944, с.Удовиченки; 
61. Горопашна Марфа , 
    1895, 1944, с.Удовиченки; 
62. Гайкова Параска Павлівна, 
    1925, 1944, с.Удовиченки; 
63. Пазинець Катерина Лукична, 
    1928, 1944, с.Удовиченки.

Всього - 63 особи. 
20.01-1945р. 
Диаякон – Калініченко Василь Никифорович

 
 Будинки, які віруючі арендували для проведення служінь по якихось причинах змінювалися. В архіві зберігся ще один договір на аренду приміщення під дім молитви. Він був складений 6 жовтня, 1947 року, в якому вказується що, 
    «Говтвань Іван Григорович, який мешкає в м.Зінькові, по вул.Комунарська, 22, здає свій дім в аренду Зіньківській релігійній громаді ЄХБ для проведення богослужінь.» 
 В 1949 році настали важкі часи для церкви. Літом того ж року зібрання майже не проводилися так як не мали молитовного будинку, бо місцева влада того часу різними методами намагалася закрити церкву. 
 Ось, один із листів, надісланий із Зінькова в облвиконком.

 

Полтава – облисполком             
 Уполномоченому Совета по делам религиозных культов 
 при Совете Министров СССР по Полтавской обл. 
 Тов. Алексееву.


 На Ваше письмо от 28 августа 1949 года 218/13. 
 Исполком Зеньковского Райсовета депутатов трудящихся сообщает, что в районе существовала организация евангелистов, которой руководил сначала КАЛЕНИЧЕНКО, а потом ЯСКЕВИЧ. 
 Эта община распалась и уже год не существует. Тов. ЯСКЕВИЧ /он получил сан пресвитера/ старается возобновить работу этой общины, но ему это не удаётся. Нет официальной зарегистрированной «двадцатки», нет помещения. Они находятся без материальных средств, т.к. их община насчитывает не больше тридцати человек, верующих евангелистов и они раскиданы в радиусе 20 кМ. 
 Работа со стороны ЯСКЕВИЧА в той части, чтобы обновить работу, чтобы организовать «двадцатку» он брал разрешение на организационное собрание, но таковое не состоялось. Члены этой общины не собралися. 
 Движение евангелистов в районе почти замерло.
 6.09 –1949г. 
 и. о. Председателя исполкома 
   Зеньковского райсовета Депутатов 
   Трудящихся /Ворона/


 Таких листів в область, в продовж 1949 року було направлено п’ять, чотири із них тов.Герасемовим, вони були майже одного змісту. В одному із них вказано більш конкретно, чому церква не може знайти приміщення: 
 “…так как он (ЯСКЕВИЧ) не может нанять квартиры и добиться чтобы эта квартира соответствовала техническим, санитарным и в противопожарных отношениях условиям.» 
 У списку членів церкви на 25.09.1949р. нараховується 33 особи. І в цьому списку є дві особи (в самому кінці), про яких не згадується в попередніх списках: 
   Олефір Кость Данилович, 1905, 1925; 
   Олефір Явдокія Семенівна, 1884, 1925. 
 Про обох сказано, що вони працювали в Зіньківському лісгоспі.

 На початку 1950 року, громаді євангельських християн баптистів дозволили проводити служіння в будинку, що знаходився по вул.Першотравнева, 22. Але вже в лютому місяці знову заборонили, згідно АКТу, який був складений 3 лютого 1950 року.

 
АКТ 
1950 года, февраля, 3 дня, г.Зеньков


 Мы, нижеподписавшиеся, комиссия в составе: начальника Зеньковского ППД – Педенко Д.Н.; пом.начальника Зеньковского ППД – Линник В.Д. и пресвитера евангельской церкви баптистов – Яскевич П.А., сего числа произвели осмотр дома 22 по ул.Первомайской в противопожарном отношении на предмет выявления противопожарных нарушений и для разрешения проводить в доме богослужения, где проверкой установлено: 
 1. Дом построен с нарушением правил устройства жилых домов квартирного типа, согласованным начальником ГУПО МВД СССР 15 мая 1947г. 
  а) дом полностью сгораемый – крытый соломой;
  б) разрывы с соседними зданиями не соответствуют нормам. 
  2.  При том дом №22 расположен и граничит со строениями Зеньковской райбольницы. 
 А поэтому комиссия считает, что в доме №22 по ул.Первомайская богослужения производить не допустимо, так как в доме будут собираться люди, при том будет применяться свечное или ламповое (керосиновое) освещение и может привести к жертвам людей, а также соседним домам и учреждениям. 
 В чём и составлен настоящий акт.


 І тільки в липні місяці церкві дали дозвіл збиратися в будинку Віртунової Євдокії Іванівни, по вул. Володарського, 11. Віруючих на той час було біля 50 осіб. 
 Ось лист-дозвіл, який отримала громада із облвиконкому:

 

Письмо


 Ставлю Вас в известность, что общине евангельских христиан – баптистов г.Зеньков разрешается проводить молитвенные собрания в доме гр-ки Виртуновой Е.И. по ул.Володарского,11, на срок три года. Оплата за один месяц 100 (сто) рублей. 
 19.07-1950г. 
 Уполномоченный Совета по делам религиозных 
 культов при Совете Министров СССР 
 по Полтавской обл. /Алексеев/


 Після цього церква збиралася в будинку, що по вул.Комунарська, 22., що підтверджують архівні документи. На що є дозвіл санепідем станції, та з пожарки. 
 Останній договір на надання в оренду приміщення для молитовних зібрань Зіньківської громади ЄХБ, в гр-ки Віртунової Євдокії Іванівни, по вул.Володарського, 11 - датований 1 червня 1958 року. А вже в жовтні, цього ж року в облвиконком поступила заява від Зіньківської громади ЄХБ такого змісту:

 

Заявление


 В связи с переходом в новый дом для молитвенных собраний по нижеследующим причинам (хозяйка дома заняла его для своего жилья). Просим перерегистрировать вновь арендное помещение для молитвенных собраний у гр-ки Сухомлин Харитины Никифоровны, г.Зеньков, ул.Первомайская, 22. Арендная плата – 15 рублей. 
 20 октября 1958 г.


 Ще в архівних документах є список членів церкви на 1954 рік, їх нараховується – 45. Двох із них немає в попередніх списках: 
 під №42 – Сердюк Явдокія Купріянівна, 1903, 1924, Зіньків, вул.Пролетарська, 55; 
 під №43 – Бойко Катерина Семенівна, 1904, 1951, Зіньків, вул.Леніна, 24.


 В архівних документах також були знайдені:

 

Список


 Культового имущества Зеньковской общині ЕХБ 
 1. Кафедра – 1 шт.; 
 2. Скамейки – 7 шт.; 
 3. Тексты (у рамках под стеклом) –2 шт.; 
 4. Тексты (без рамок) –3 шт.; 
 5. Салфетка на кафедре – 1 шт.


 /Яскевич/ - Пресвитер Зеньк.общины ЕХБ 
 1.01-1950г.

 

Список 
 Постоянных проповедников общины ЕХБ г.Зеньков


 1. Влох Поликарп Ильич,1891г.р.; 1924г.крещён; проповедует с 1932г. (с.Шиловка); 
 2. Яливец Фёдор Савич, 1893г.р.; 1922г. крещён; проповедует с 1927г. (с.Шиловка); 
 3. Микитенко Іван Тимофеевич, 1888; 1927; проповедует с 1933г. (с.Борки); 
 4. Буденна Варвара Аврамовна, 1887; 1926; проповедует с 1932г. (с.Саранчёвка).

 

Список 
крещаемых общины ЕХБ г.Зеньков


 1. Рябец Орина Давидовна, 1908; 1950; (Шиловский с/с); 
 2. Дахно Анна Никоноровна, 1896; 1950; (Зеньк. ул.Котовского, 48); 
 3. Радченко Мария Тарасовна, 1905; 1950; (с.Пышненки); 
 4. Силка Анна Константиновна, 1924; 1948; (с.Удовиченки).

 Пресвитер – Яскевич

 

Автобіографія 
Яскевич Павла Андрійовича, 19 липня 1950 року зареєстрованого в якості пресвітера Зіньківської громади ЄХБ.

 Я, Яскевич Павло Андрійович, народився в м.Кролевець, Сумської обл., 4 березня 1885 року. 
 Батько – Яскевич Андрій Михайлович, робочий, займався ткацтвом. Помер у 1910 році. 
 Мати – Яскевич Надія Тимофіївна, домогосподарка, з робітників, померла в 1932 році. 
 Я в 1893 році почав ходити в школу в м.Кролевець. 
 В 1897 році закінчив чотири класи і допомагав працювати батькам дома. 
 В 1903 р. почав вчитися на столяра, після закінчення навчання працював по наймах. 
 Після революції також працював по наймах до 1929 року. 
 В 1929 році переїхав на постійне проживання в м.Зіньків і почав працювати в Зіньківському кустарпромкомбінаті. 
 Жінка – Яскевич Явдокія Петрівна, 1886 року народження. Зараз проживаю в м.Зіньків, Валовий переулок №3. 
 26.07-1950 р.

 4 березня 1959 року, члени «двадцятки» громади ЄХБ м.Зінькова, згідно обставин що склалися, просили зняти їх громаду із реєстрації. Про всі ті обставини вони описали в заяві, що направили в облвиконком.

 

Заключение 
О снятии с регистрации общины религиозного объединения 
евангельских христиан – баптистов, 
зарегисрированной в г.Зеньков, Полтавской обл.

 В г.Зеньков действовала община религиозного объединения евангельских христиан – баптистов зарегистрирована 17 декабря 1945 года, с количеством 63 человека, на 1 июля 1958 г. численность по списку 38 человек. За 10 лет в общине крестили 4 человек, в последнее время на молитвенные собрания собиралось менее 10 человек. 
 4 мая 1959 г. поступило заявление за подписью пресвитера гр-на Яскевич и членов «двадцатки» с просьбой снять с регистрации их общину. В заявлении указывается, что в г.Зенькове осталось всего 7 членов и что остальные верующие, проживающие в различных отдельных населённых пунктах в случае нужды смогут удовлетворить свои религиозные потребности в зарегистрированных молитвенных домах /с.Лютенька, Гадячского р-на; с.В.Сорочинцы, Миргородского р-на/ так как они были редкими посетителями молитвенного дома в Зенькове. Одновремённо с заявлением сданы все справки о регистрации. 
 Протеста со стороны остальных членов данной религиозной общины не поступило. 
 Просьба о снятии с регистрации религиозну общину ЕХБ в г.Зеньков поддерживается старшим пресвитером ЕХБ гр-ом Теслюком А.М. 
 На основании всего этого зарегистрированная община ЕХБ в г.Зенькове подлежит снятию с регистрации как полностью распавшая.

Уполномоченный Совета по делам религиозных 
 культов при Совете Министров СССР 
 по Полтавской обл. 
 /М.Копейкин/

 

На заяву громади є рішення №294-8, від 25 квітня 1959 року, та виписка із протоколу №13 із засідання Ради у справах релігійних культів при Раді Міністрів СРСР, яке відбувалося 8 травня 1959 року, в них говориться про зняття з реєстрації Зіньківської громади євангельських хритиян - баптистів.

 Таким чином місцева влада, якій на той час віруючі заважали, добилася того, що церкву зняли з реєстрації, неначе церква, як вони зазначали повністю розпалася. 
 Насправді було все по іншому. 
 Це в Зінькові на 1959 рік залишилося семеро віруючих людей, а по навколишніх селах, таких як – Бобрівник, Саранчівка, Лютенські Будища, Залуги, Бірки, Яновщина, Удовиченки, Волохи, Петрівка, Саєвичі, Довжик – проживали також віруючі, які належали до євангельських християн баптистів. Це були роки гонінь і переслідувань віруючих людей. 
 В шестидесяті роки, як розповідали сестри Буденна Надія Іванівна та Прохор-чук Ніна Іванівна, в яких були батьки віруючі, місцева влада забороняла віруючим збиратися разом, орендовані будинки під дім молитви закривали, служителів, проповідників, за проповідь Євангелія, штрафували. Гоніння та переслідування послужили тим, що деякі слабкі духовно віруючі відійшли від Бога, ще дехто перейшов у інші місцеві церкви с.Опішня, с.В.Сороченці, а ті хто були в похилому віці, померли. Це послужило до того, що Зіньківська церква євангельських християн баптистів офіційно перестала існувати.

-------------


 В 1993-1994 роках Олефір Марія Костівна, жителька с.Бобрівник, Саранча Марія Володимирівна, Прохорчук Ніна Іванівна та Омеліч Микола Васильович, що проживали в Зінькові їздили в с.Опішня на богослужіння і були членами Опішнянської церкви ЄХБ. Через відстань, а це майже 40 км, вони не могли систематично відвідувати церкву. І одного разу вони попросили, щоб хтось із проповідників приїзджав до них у м.Зіньків, щоб проводити зустрічі по вивченню Біблії, на які вони будуть приходити самі, та запрошувати людей, які хочуть більше дізнатися про Бога, та вчення Ісуса Христа. Це служіння Опішнянська церква доручила мені - Мороховцю Олександру. 
 Задовго до цього Бог дивним чином готував мене саме до цього служіння. Все почалося з книги “Пробуждение начинается с меня”, та поїздки в Харків, де на великому стадіоні, проходила євангелізація. Був призив до невіруючих людей – покаятися та визнати Ісуса Христа своїм Господом і Спасителем. На той час я був уже шість років членом церкви, але там Бог проговорив і до мене. Він через пісню “Одна листва, одна листва, ты не принёс плода”- докорив мене в тому, що я в повній мірі не служу Йому. Я визнав свою вину і пообіцяв Богу, що тепер буду трудитися для Нього. 
 З того часу ми з дружиною почали просити в молитві у Бога, щоб Він показав з чого починати і де наша праця. Бог майже зразу відповів, давши можливість мені потрапити на семінар, який проводила “Біблійна Ліга України”. Тема цього семінару була – “Як організувати нову церкву?” Прохання віруючих із Зінькова, пропозиція церкви, про яку я писав раніше, все це було відповіддю на наші молитви.


 Спочатку я їздив у Зіньків з Опішні один раз на тиждень, впродовж півтора року. Зустрічі проходили у будинку Марії Володимирівни Саранчі, яка прожтвала по вул.Котовського, 70. На зустрічах ми спілкувались і вивчали Біблію. Люди з цікавістю приходили послухати Слово Боже, ставили питання. Ті, хто зрозумів суть євангелії, каялися в гріхах і починали жити по вченню Ісуса Христа. 
 Перше хрещення відбулося в тому ж 1994 році, на річці Ташань. Хрещення приймало п’ять душ – Ліда Миколаївна Верховод, Паша Василівна Пилипенко, Галина Омелянівна Косенко, Надія Іванівна Буденна, та Раїса Павлівна Перерва (Зіньківчанка, але на той час проживала в Опішні). Це дійство було першою євангелізацією в Зінькові. Перед цим розклеювали по місту запрошення, і хоч їх зразу ж зривали, але все ж таки зібралося біля річки дуже багато людей. Це були рідні, знайомі хрещаємих, а також люди, які проїзжали поблизу, зупинялися, підходили з цікавістю подивитися, що там відбувається. Були гості з церков Опішні та Полтави. Співали пісні, була проповідь Божого Слова, а потім відбувалося хрещення, яке проводив пресвітер Опішнянської церкви Михайло Кузьмич Мороховець. Особливим було ще те, коли вкінці служіння запитали: “Хто хоче отримати Новий Завіт?” Всі присутні підняли руки. Їх бажання задовільнили. 
 Це хрещення, сприяло утворенню Зіньківської церкви євангельських християн баптистів, яку пізніше назвали “Світло спасіння” і саме день її реєстрації – 22 червня 1996 року, ми вважаємо ДНЕМ ПОВТОРНОГО НАРОДЖЕННЯ ЦЕРКВИ. 
 Довгий час церква не мала свого приміщення і так само, як і нашим попередникам приходилося переходити з місця на місце. Збиралися у Прохорчук Ніни Іванівни, по вул.Червоноармійська 1, кв.3, потім у моєму домі, - 1995 р., в жовтні місяці ми сім’єю переїхали в Зіньків на постійне місце проживання поселившись в будинку по вул.Комунарська, 58. Коли збиратися було вже тісно, прийшлося шукати більше приміщення. Я пройшов увесь Зіньків, де можна було орендувати якийсь зал, всюди або відмовляли, або просили великі кошти за оренду. В кінці кінців, одна посадова особа призналась, що вас баптистів у Зінькові, ніхто не впустить, бо це заборонено. І тільки в 2000 році, після того як відбулася перша палаточна євангелізація в центрі міста, нашій церкві надали можливість орендувати кімнату в новому Будинку Побуту. Там ми збиралися впродовж трьох з половиною років. 
 Увесь цей час збирали кошти, придивлялись, щоб купити приміщення під дім молитви. В 2004 році, перебрались в будівлю колишнього гуртожитку сільгостехніки, що по вул.Погрібняка, 12, оформивши оренду цього приміщення з подальшим викупом. Впродовж року, були різні перешкоди в покупці цього приміщення, і в кінці кінців нас попросили вибратися з нього. Знову збирались по Комунарській, 58. 
 У червні 2005 року ми знову повернулися у колишній гуртожиток. Це була велика і довгоочікувана радість для церкви, бо змогли викупити це приміщення під дім молитви. Зараз проводимо реконструкцію цього приміщення. Вже зробили залу, де проходять спільні недільні служіння, кімнату для бібліотеки, кухню, дитячу кімнату, братерську, переробили дах будинку. Зараз робимо фасад будинку і коридор.


 У Церкви Господа Ісуса Христа є своє призначення, тут на землі. Багато текстів Біблії описують, якою повинна бути церква і чим вона повинна займатися. Але дві істини сказані Ісусом Христом, узагальнюють все сказане: Найбільша Заповідь і Велике доручення. 
 “Люби Господа Бога Твого всім серцем твоїм і всією душею твоєю, і всім розумом твоїм”. Це є перша і найбільша заповідь. Друга ж подібна до неї: 
 “Люби ближнього твого, як самого себе”. На цих двох заповідях утверджується весь Закон і пророки.” (Матвія 22:37-40) 
 “То ж ідіть і навчайте всі народи, хрестячи в ім’я Отця, і Сина, і Святого Духа, навчаючи їх дотримуватись усього, що Я заповів вам…” (Матвія 28:19-20) 
 Узявши до уваги ці два тексти, віруючі Зіньківської церкви “Світло спасіння” стараються виконати завдання дане Ісусом Христом: 
 “Приводимо людей до Ісуса Христа, щоб вони стали членами Божої сім’ї, допомагаємо їм духовно зростати, щоб вони були готові до служіння в церкві, та виконували Боже доручення, і щоб в усьому цьому – прославлялось ім’я Господнє. 
 Отже діяльність церкви відбувається в п’яти напрямках: євангелизм та місіонерство, спілкування, учнівство, служіння, поклоніння. 
 На даний момент в церкві є такі служіння: 
 Недільне – служіння поклоніння; дитяче; молодіжне; сестринське; місіонерське; дияконське; душеопікунське, спортивне; бібліотечне; музичне; поліграфічне; фінансове; транспортне; молитовний ланцюжок; молитовний обхід; домашні групи; навчання; радіослужіння; відвідування хворих; відвідування людей пільгових категорій; сайт церкви; відвідування будинку пристарілих в с.Тарасівка; відвідування церков по селах; фото та відео служіння; служіння групи порядку та служіння реконструкції будинку молитви. 
 Завдяки цим служінням церква могла провести різноманітні заходи для жителів Зінькова та навколишніх сіл. 
 Показували фільм “Ісус” в різних місцях Зінькова, та в 12 селах. Після фільму деякі люди приєдналися до церкви, а в с.Шилівка, навіть утворилася група по вивченню Біблії, яка з роками переросла в церкву. 
 Проводилася євангелізація в трьох храм-палатках, які ставляли в м.Зінькові, першу в ювілей “2000 років від Різдва Христового” – в центрі міста, другу – біля ринку, третю – на “Лисівці”. В палатках проводилися різні служіння, концерти та зустрічі – для дорослих, дітей та молоді, показували християнські фільми, роздавали Біблії, Нові Завіти та іншу духовну літературу, відбувалося спілкування з людьми один на один та в групах – відповідаючи на їх запитання. 
 Проводили різні святкові зустрічі, особливо на Різдво та Пасху, в Будинку Культури та Кінотеатрі м.Зінькова, та в Будинках Культури сіл Пилипенки, Довжик, Северинівка, Велика Павлівка, та для дітей – Різдвяні зустрічі в Л.Будищанській та В.Павлівській школах. 
 Щоліта, кожен рік,починаючи з 2002 року для дітей проводили денні дитячі табори, збірною командою молоді з декількох церков. Такі табори проводили в домах молитви сіл - Великі Будища, Опішня, Шилівка, Лютенька, м.Зіньків, та в Будинках Культури сіл - Довжик, Комсомольське, Тарасівка, Пилипенки, Северинівка. А три останні роки, проводили стаціонарні, десятиденні дитячі табори: перший – палаточний, на березі річки Ворскла; два інших, м.Решетилівка. 
 Для дітей є чудова нагода спілкуватися, відпочивати, знаходити нових друзів, більше дізнаватися про Бога. 
 При церкві для дітей працював клуб “Майбутнє України”, де діти вивчали Біблію, грали в ігри, співали християнські пісні, робили різні поробки своїми руками. Зараз для кожної дитини, яка прийшла з батьками на недільне служіння, є можливість побувати в дитячій недільній школі. 
 Наша церква допомагала дітям з малозабезпечених сімей в м.Зінькові в 2006 році, а в 2007 році в с.Велика Павлівка. Ці діти отримали святкові подарунки на Різдво. Декілька раз допомагали Зіньківському дитячому будинку-інтернату. Одного разу закупили дітям до школи зошити, щоденники, пластилін, лінійки і інші канцелярські речі. В кінці 2007 року надали гуманітарну допомогу одягом, а пізніше для спортивного класу подарували бігову доріжку. 
 Допомагаємо тим хто хворий. Для цього запрошували в наше місто лікарів християн із Америки (стоматолога, терапевтів, окуліста, фармацевтів), а також із Києва, з місії “Емануїл”. Вони зустрічалися з людьми, вислуховували їх проблеми, і надавали безкоштовні ліки та окуляри. Таких клінік провели 20: п’ять – вЗінькові, а інші в селах Зіньківського району. Крім цього допомагали проводити такі клініки Диканьській, В.Будищанській та Лютеньській церквам. Через ці клініки пройшли сотні людей. І разом з фізичною допомогою люди отримали духовну допомогу. 
 З великою радістю для людей Зіньківського району, впродовж шести років готуємо християнську радіопередачу “Нове життя”. Ця передача почала транслюватись з 16 жовтня, 2005 року і виходить щонеділі, о 14 годині. Обсяг мовлення в середньому 20 хвилин. Мовлення йде на 114 населених пунктів Зіньківського району. За цей період вийшло 315 радіопередач. 
 Особливе місце в програмах приділяється проповіді Слова Божого та свідченням членів нашої церкви, які розповідають про те, як вони стали християнами. Є пісенні та віршовані програми. Саме після цих програм, були замовлення людей, щоб ми їм записали християнські пісні на диски, а також роздали до 20 збірок із віршами. Торкалися також болючих тем сьогодення. Одна із них - “Аборт – це гріх дітовбивства, чи звичайний вихід із скрутного становища?” 
 Яскравим прикладом, був випадок коли священник Православної церкви не відмовився записатися, коли ми готували декілька передач на тему: “Чи потрібно звертатися до цілителів, ворожок, екстрасенсів?” Він розповів, що Православна церква негативно ставиться саме до цього. 
 Спілкуючись із жителями району за різних обставин, приємно було відзначити те, що цікавість до християнської радіопрограми “Нове життя” досить велика. 
 Нині в селах: Комсомольське, Пилипенки, Довжик та Ставкове є групи по вивченню Біблії. Один раз на тиждень відбуваються зустрічі в групах. Є ті, хто вже доручили своє життя Ісусу Христу і приєдналися до церкви, є ті, хто ще на шляху 
 З 2008 року, два рази на місяць, відвідуємо дім пристарілих с.Тарасівка. Люди, які знаходяться там, обділені любов’ю. Стараємося вислухати, підбадьорити, підтримати. Читаємо разом з ними Слово Боже, співаємо пісень, молимося, святкуємо дні народження. За цей час зблизилися, здружилися. Коли настає мить прощання, для них це найтяжча мить. 
 13 листопада 2010 року розпочали спортивне служіння. Спочатку збиралися один раз, зараз є можливість збиратися три рази на тиждень. Збираються підлітки і молоді хлопці та дорослі чоловіки. Знайомляться, спілкуються, грають у футбол, чаюють. Наше бажання застерегти особливо молодих людей від згубних звичок, від лихих компаній і показати своїм життям, що життя віруючої людини, це прекрасне життя. 
 В церкві розвивається молодіжне служіння. Молодь збирається в домашньому крузі вивчаючи Біблію, обговорюють різні молодіжні теми, проблеми, вчаться жити по Божому, організовують різні зустрічі на природі. Допомагають в проведенні спортивного служіння, дитячих майданчиків та таборів. 
 В 2009 року, в серпні місяці, на базі нашої церкви проходив обласний молодіжний фестиваль. Палаточне містечко було розбите в с.Власівка, біля річки Ташань. Християнська молодь, розбившись на чотири групи, впродовж чотирьох днів працювала в селах: Тарасівка, Комсомольське, В.Павлівка, Северинівка, Пилипенки, Довжик та в м.Зінькові – в дитячому парку та в інтернаті. Працювали по благоустрою сіл та міста, а також допомагали інвалідам та одиноким людям по господарству. Вечорами проводили різні зустрічі і концерти. А останнього дня, майже сотня молодих людей вийшли в Зінькові на вулицю Леніна і від автовокзалу і до дитячого садка прибрали вулицю від сміття і побілили бордюри. 
 В середині 2008 року був створений сайт церкви. Зайшовши на нього, ви зможете дізнатися більш обширно про Зіньківську церкву “Світло спасіння” і про те, чим вона займається сьогодні. Адреса сайту - www.svitlo-spas.narod.ru


 На п’ятиріччя церкви, я попросив членів церкви, щоб описали ЯКОЮ ВОНИ БАЧАТЬ ЦЕРКВУ ЧЕРЕЗ 5-10 РОКІВ? Четверо сестер дали письмову відповідь на це запитання. У них був приблизно одинаковий опис. Вони зазначили, що 
 у церкви буде власний дім молитви; 
 будуть молоді люди в церкві; 
 охопимо проповіддю Євангелії навколишні села;
 в деяких селах будуть групи по вивченню Біблії.


 Сестри описали своє бачення, свої бажання. Вони молилися за це і вірили, що Господь відповість. Декого із них уже немає з нами, вони вже у вічності, але їхні бажання здійснились. Бог відповів, слава Йому за це!!!
 Церква дякує Богу, за пройдений шлях і за те, що Бог відповідав на молитви, вів, направляв, оберігав, давав сили, мудрості, наснаги. Звичайно, були важкі відрізки часу, коли не вистачало мудрості й терпіння, але величезне бажання служити Богові, щира віра і ревні молитви принесли свої плоди. 
 Я дякую членів Зіньківської церкви “Світло спасіння”, а також братів і сестер всіх церков, які допомагали в придбанні будинку молитви, в реконструкції цього будинку, а також в різних служіннях. Нехай Господь воздасть усім вам сторицею. 
 Ми проголошуємо слова, які записані в книзі 1Самуїла 7:12 “…ось до цього місця допоміг нам Господь!”


 Пророк Ісайя звертаючись до людей, говорить: “Шукайте Господа, доки можна знайти Його! Кличте до Нього поки Він близько!” Ці слова актуальні і сьогодні. Знайте, що не завжди так буде. Тож поспішіть до Того, Хто продовжує гукати, любити, спасати! Бог так багато зробив для нас. Він з радістю чекає щоб і ви послужили Йому. Що я особисто роблю для Бога? – Це питання задайте кожен собі… 
 Двері церкви “Світло спасіння” і наші серця відкриті для всіх. Вірю, якщо людина не грається у християнство, а з відкритим серцем шукає Бога, то Бог обов’язково відповість, допоможе, обігріє, прийме у Свою сім’ю, сім’ю Божих дітей – церкву Христову.

27 листопада 2011 року.

Пастор Зіньківської церкви “Світло спасіння” – Олександр Мороховець.
  </p>

</div>