<div class="row center-block">
  <h1 id='title'>Добро пожаловать на сайт церкви "Світло спасіння"</h1>
  <div class="col-md-8 center">
    <h1>Последние новости</h1>
    <ul class="users text-left">
      <% @news.each do |news| %>     
        <li>
          <h2 class="text-left"><%= link_to news.title, news %></h2>
          <h5><%= news.category.name %></h5>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-4">
    <div>
      <iframe class="calendar" src="https://calendar.google.com/calendar/embed?src=8i4quta0rs1hllgkm2k9nlk2g8%40group.calendar.google.com&ctz=Europe/Kiev"></iframe>
    </div>

    <div class="poem">
      <iframe src="http://allbible.info/ajax/randomverse/" title="Подкрепись! Библия онлайн." frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>
