<div class="center hero-unit">
  <h1 id='title'>Добро пожаловать на сайт церкви "Світло спасіння"</h1>

  <h2>
    Укоренитесь в Нём и созидайте в Нём и укрепляйтесь в вере своей, как учили вас. И не скупитесь на благодарность Господу. (Кол.2:7)
  </h2>

  <%= link_to image_tag("overall.jpg", alt: "Light of salvation"), 'http://www.svitlo-spas.narod.ru/' %>

  <!-- link_to "Sign up now!", '#', class: "btn btn-large btn-primary" -->
</div>