<div class="row">
  <div class="col-md-4 block-news">
    <ul class="nav nav-list block-news">
      <li class="nav-header">Разделы:</li>
      <li><%= link_to "Наши новости",       "#" %></li>
      <li><%= link_to "Новости Украины",    "#" %></li>
      <li><%= link_to "Мировые новости",    "#" %></li>
    </ul>
  </div>
  <div class="col-md-8">
    <h1>Новости</h1>
    <h3>Стартовал тур христианской рок-группы Kutless по Украине</h3>

    <p>31 июля, в Киеве состоялся первый концерт американской рок-группы Kutless, который стал стартом тура по 11 городам Украины, сообщает Христианский Мегапортал <a href="http://www.invictory.com/">invictory.com</a>.</p>
    
    <p>Как сообщили в движении PULSE, на концерте присутствовало более 10 000 человек. Помимо Kutless, на сцене выступили музыкальные группы NUTEKI и IFOUND, а также американский композитор и исполнитель Дейв Любен.</p>
    
    <p>Во время концерта, основатель движения PULSE Ник Холл выступил перед присутствующими с мотивационным посланием. В конце проповеди он призвал всех к молитве.</p>
    
    <p>«Это был только старт! Впереди еще больше городов, больше центральных площадей и больше молодых сердец, которые изменят всю Украину!» - подчеркнули в служении.</p>
    
    <p>Следующие концерты пройдут в Одессе (3 августа), Херсоне (4 августа), Мелитополе (5 августа), Запорожье (6 августа) Кривом Роге (7 августа), Виннице (10 августа), Каменце-Подольском (11 августа), Черновцах (12 августа), Тернополь (13 августа) и в Луцке (14 августа).</p>
    
    <p>Подробную информацию о туре можно узнать на сайте движения PULSE.</p>
    
    <p>Ранее сообщалось, что в преддверии тура, движение PULSE совместно со служением интернет-благовестия и миссионерства yesHEis провели для христианской молодежи интерактивные тренинги по личному евангелизму.</p>
    
    <p>Группа Kutless – известная христианская рок-группа, организованная в 1999 году в США. На счету коллектива семь студийных альбомов, один из которых золотой.</p>
    
    <p>С 22 по 30 мая 2015 года музыканты провели тур по шести городам Украины.</p>
  </div>
</div>