<div class="row">
  <h2>Здесь вы можете прочитать поэзию наших Церковных поэтов на русском и украинском языках</h2>
  <div class="col-md-6">
    
  </div>
  <div class="col-md-6">
    
  </div>
</div>