<div class="worship">
  <h1>ВЕРОИСПОВЕДАНИЕ ЕВАНГЕЛЬСКИХ ХРИСТИАН-БАПТИСТОВ</h1>

  <p>
    Написано Советом ВСЦ ЕХБ по просьбе служителей церквей. Является продолжением вероучений, изданных Ф. П. Павловым (1906), И. И. Прохановым (1910), а также принятого на 43-м съезде ЕХБ (1985).
  </p>

  <h2>I. СВЯЩЕННОЕ ПИСАНИЕ</h2>

  <p>
    Мы верим, что «все Писание богодухновенно» (2Тим. 3:16), и под этим подразумеваем, что вся Библия богодухновенна, потому что святые мужи Божьи были движимы Духом святым, когда писали ее (2Пет. 1:21). Это вдохновение распространяется одинаково и полностью на все части Писания – исторические, поэтические, поучительные книги и книги пророков. Потому Библия является непогрешимой в тексте оригинала, авторитетной и достаточной на все времена (2Пет. 1:19; Ин 5:39), христоцентричной – рассказывает о Христе.
  </p>
  <p>
    Центром всей Библии есть Иисус Христос – Господь и Спаситель, Его Личность и Его труд в первом и втором пришествии. Таким образом, ни одна часть Библии, включая Ветхий Завет, не может считаться верно прочитанной или воспринятой, если она не направляет к Нему (Лк 24:27,44; Деян. 17:2-3; 18:28; 26:22-23; 28:23). Поэтому, имея Божий авторитет и силу влияния на людей, Священное Писание как Слово Божье дано нам для практического наставления во всех измерениях нашей жизни (Ис. 55:10-11; Пс. 118:105; Рим. 15:4; 1Кор. 10:11).
  </p>
  <p>
    Наша вера строится на откровении: Бог открывает Себя в истории человечества, и 66 книг Библии (39 – Ветхого Завета и 27 – Нового Завета) являются выражением Его самораскрытия (Евр. 1:1-3).
  </p>
  <p>
    Мы верим, что, с одной стороны, Писания являются верным свидетельством благочестивых людей о Боге, Которого они любили и Которому служили, а с другой стороны, – посредством уникального участия Духа Святого в их написании, Писания являются Божьим свидетельством и Божьей наукой в человеческой форме. Окончательная уверенность в том, что Священные Писания происходят от Бога и составляются из Его мудрости и истины, происходит только от Иисуса Христа и Его апостолов, которые учили во имя Его.
  </p>
  <p>
    Иисус Христос рассматривал Библию (наш Ветхий Завет), как написанное наставление Своего Небесного Отца, Которому Он подчинялся (Мф 4:4; 7:10; 5:19-20; 19:4-6; 26:31, 52-54).
  </p>
  <p>
    Апостол Павел описывал Ветхий Завет, как полностью «богодухновенный», происходящий от Божьего Духа, точно так же, как и все творение, как и вся вселенная.
  </p>
  <p>
    Апостол Петр однозначно утверждает божественное происхождение библейской науки (2Пет. 1:21; 1Пет. 1:10-12).
  </p>
  <p>
    Поскольку апостольское учение о Христе является истиной откровения в словах, внушенных Богом, (1Кор. 2:12-13), Церковь справедливо считает настоящие апостольские писания как те, которые завершают Библию.
  </p>
  <p>
    Мы верим, что то, что говорят Писания, – говорит Бог, потому что Библия является одновременно человеческой и полностью божественной книгой. Поэтому все ее многогранное содержание – история, пророчества, поэзия, песни, мудрость, проповеди, письма и все другое – должно приниматься, как от Бога.
  </p>
  <p>
    Признание Библии за авторитетное и безошибочное Слово Божье обязывает нас:<br>

    быть благодарными Богу за дар Его написанного Слова (2Кор. 9:15);<br>

    быть ревностными в построении своей веры и жизни полностью и исключительно на нем (Рим. 10:17; Иуды 1:20).
  </p>
  <p>
    Мы верим, что Писания – божественная книга для людей, толкование должно начинаться с буквального понимания (Лк 10:26). Потому использование аллегорий, которые не обращают внимания на автора книги, исторический фон ее написания, является недопустимым.
  </p>
  <p>
    Каждая книга Библии написана не кодированным языком, но так, что может быть понятой теми читателями, к которым она была адресована. Это также относится к книгам, которые широко используют язык символов, – книг Даниила, Захарии и Откровения.
  </p>
  <p>
    Ни одно значение не может быть наложено в Писании, которое не может быть с уверенностью прочитано в нем, то есть когда нельзя показать, что оно недвусмысленно выражено одним или более авторами (Мф 15:4-6; Деян. 8:30-35).
  </p>
  <p>
    Читая и толкуя Священные Писания, мы должны придерживаться двух принципов:<br>

    •    воспринимать факты, заповеди, обетования и предостережения, которые Бог сообщает нам, такими, какими они написаны (буквальное понимание) – Лк 8:5-8;<br>

    •    молитвенно на основе Писания размышлять и находить то, что Бог хочет открыть — Лк 8:9-15.
  </p>
  
  <h2>II. БОГ</h2>

  <p>
    Мы верим, что есть ОДИН и только один Бог (Втор. 6:4; 1Кор. 8:4): живой (Втор. 32:39-40), истинный (Исх. 34:6), совершенный (Мф 5:48).
  </p>
  <p>  
    Он открывает Себя как бесконечная, непостижимая, самодостаточная, вечная и неизменная Личность (Исх. 3:14; Пс. 44:7).
  </p>
  <p>
    Бог:
    <ul>
      <li>Святой (Пс. 21:4; 1Пет. 1:16);</li>
      <li>Всемогущий (Быт. 17:1; 18:14; Иова 42:2; Лк 1:37);</li>
      <li>Всезнающий (Пс. 93:11; 138:2; Пр. 5:21);</li>
      <li>Вездесущий (Быт. 28:16; Исх. 3:5);</li>
      <li>Творец и Вседержитель всего, что существует (Откр. 1:8);</li>
      <li>Единственный достойный славы и поклонения ((Исх. 20:2-7; Мф 4:10; Рим. 16:27).</li>
    </ul>
  </p>
  <p>
    Мы верим, что Бог ТРИЕДИН: Отец, Сын и Святой Дух ((Быт. 1:1-2; Лк 3:21-22; Евр. 1:1-2; Откр. 3:22).
  </p>
  <p>
    Каждая Личность Троицы владеет всей совокупностью божественных черт. Триединый Бог в Своем естестве и свойствах равен и неразделен, так что Отец – Бог, Сын – Бог и Святой Дух – Бог, однако не три Бога, а ОДИН БОГ ((Ин 10:30; 14:26).
  </p>
  <p>
    Мы верим, что БОГ–
    <ul>
      <li>Отец</li>
        <ul>
          <li>никем не сотворен, безначален, не рожден, через Которого все начало быть (Ин 1:1-4).</li>
          <li>Он свят (1Пет. 1:16), благ (Мф 19:17), справедлив (Пс. 7:12; 70:19; Откр. 3:19).</li>
          <p>
            Бог является Отцом Господа нашого и Спасителя Иисуса Христа (Мф 3:17; 17:5).
          </p>
        </ul>
      <p>  
        Мы верим, что БОГ
      </p>
      <p>  
        не сотворен, а единорожден, «сущий в недре Отчем» (Ин 1:18). Он – единосущный Отцу и владеет всеми свойствами Бога. Ради спасения людей Он воплотился и стал человеком (Фил. 2:7), не теряя Своей божественной сущности. Он стал истинным Человеком, в Котором Божья и человеческая природы в совершенстве соединились (не смешиваясь, не изменяясь, не разделяясь). Таким образом, Иисус Христос – истинный Бог (1Ин 5:20) и истинный Человек (Рим. 5:15; 1Тим. 2:5).
      </p>

      <li>Иисус Христос:</li>
        <ul>
          <li>был непорочно зачат от Духа Святого (Мф 1:20; Лк 1:35);</li>
          <li>телесно родился от Девы Марии (Мф 1:21; Лк 2:7);</li>
          <li>прожил совершенно безгрешную жизнь (1Пет. 2:22; Евр. 4:15);</li>
          <li>умер на кресте за грехи людей (Мф 27:50; Рим. 8:34);</li>
          <li>воскрес из мертвых (Мф 28:5-6; Деян. 1:3);</li>
          <li>вознесся и сел одесную Отца (Мк 716:19; Деян 1:9);</li>
          <li>является единственным Заступником и Посередником между Богом и человеком (Рим. 8:34; 1Тим. 2:5);</li>
          <li>придет второй раз в силе и славе (Деян. 1:10-11; Ин 14:1-3).</li>
        </ul>
      <p>
        Мы верим, что БОГ–СВЯТОЙ ДУХ
      </p>
      <p>
        не сотворен, пришел от Отца через Сына (ІИн 14:26). Он равен Отцу и Сыну и владеет всеми свойствами Бога.
      </p>
      <li>Святой Дух</li>
        <ul>
          <li>вдохновитель Священного Писания (2Пет. 1:21);</li>
          <li>принимает участие в делах творения (Быт. 1:2); спасении человека (Евр. 3:7); строительстве Церкви (Еф. 2:22);</li>
          <li>прославляет  Христа  (Ин 16:14);</li>
          <li>обличает во грехе (Ин 16:14);</li>
          <li>возрождает человека (Ин 3:5-7);</li>
          <li>ведет путем освящения (Ин 16:13).</li>
        </ul>
    </ul>
  </p>
  <p>
    Мы верим, что при СОТВОРЕНИИ
  </p>
  <p>
    неба и земли, всего видимого и невидимого, а также самого человека принимала участие БОЖЕСТВЕННАЯ ТРОИЦА: Отец, Сын и Святой Дух.
  </p>
  <P>
    Мы верим, что при СОТВОРЕНИИ
  </P>
  <p>
    нового неба и новой земли, где пребывает истина, и нового человека для жизни на них (2Пет. 2:13), принимает участие БОЖЕСТВЕННАЯ ТРОИЦА:
  </p>
  <ul>
    <li>Иисус Христос — прощает грешника (Гал. 4:4);</li>
    <li>Отец — принимает как сыновей и дочерей (Гал. 4:5);</li>
    <li>Дух Святой — наполняет, освящает и делает наследником (Гал. 4:6-7).</li>
  </ul>

  <h2>III. ЧЕЛОВЕК</h2>
  <p>
    Мы верим, что Бог сотворил человека из «праха земного, вдохнул дыхание жизни, и стал человек душею живою» (Быт. 2:7). Таким образом, человек — существо триединое (дух, душа и тело) — Иова 12:10; Ис. 57:16; 1Фес. 5:23; Евр. 14:12) и принадлежит к физическому (видимому) миру и духовному (невидимого).
  </p>
  <p>
    Бог сотворил человека безсмертным по образу и подобием Своим, которые состоят в интеллектуальных, моральных, волевых и других свойствах (Быт. 1:26-27, 5:1; Иак. 3:9).
  </p>
  <p>
    Бог сотворил человека безгрешным с целью:
    <ul>
      <li>непосредственного общения между ним и его Творцом (Быт. 3:8; Еккл. 7:29);</li>
      <li>прославления Бога (Пс. 66:4);</li>
      <li>продолжения рода человеческого и «наполнения земли» (Быт. 1:28; Деян. 17:26);</li>
      <li>для владения окружающим миром и труда на земле (Быт. 1:28; 2:15; Пс. 8:7).</li>
    </ul>
  </p>
  <p>
    Бог создал человека со свободой воли. Он имел право самостоятельно сделать выбор между добром и злом (Быт. 2:16-17; Втор. 30:19; Ис. Нав. 24:15; Иер. 21:8).
  </p>
  <h4>Грехопадение</h4>
  <p>
    Мы верим, что человек посредством соблазна от диавола самостоятельно избрал путь непослушания своему Творцу и тем самым согрешил против святого Бога (Быт. 3:1-6; Ис. 59:2; ИІн 8:44).
  </p>
  <p>
    В момент грехопадения человек умер духовно и стал смертным физически (Быт. 2:17; Рим. 6:23; Еф. 2:1; Кол. 2:13).
  </p>
  <p>
    Следствием греха человека стало Божье наказание земли и творения (Быт. 3:17; Пс. 89:10; Рим. 8:20-21).
  </p>
  <p>
    Из-за грехопадения первых людей все человечество унаследовало греховную природу и смерть (Быт. 6:3; Пс. 50:7; 57:4; Иер. 17:9; Рим. 5:12).
  </p>
  <p>
    Результатом грехопадения является то, что человек самостоятельно не может найти Бога (1Кор. 2:14; Рим. 3:11).
  </p>

  <h2>IV. СПАСЕНИЕ</h2>
  <p>
    Мы верим, что Бог предвидел грехопадение первых людей, потому приготовил план спасения, согласно которого Христос был Агнцем, предназначенным на заклание от создания мира (Откр. 13:8). Христос в определенное Богом время взял на Себя грех всего мира, испытал за это праведный суд Божий и, в совершенстве удовлетворив Божье правосудие, совершил полное искупление и спасение (Ин 1:29; 1Пет. 2:24; 2Кор. 5:21).
  </p>
  <p>
    Спасение совершается Богом по благодати на основании искупления в Иисусе Христе. Человек получает его только через личное и самостоятельное обращение к Богу. Поэтому «нет иного имени под небом, данного человекам, которым надлежало бы нам спастись» (Деян. 4:12).
  </p>
  <h4>Вера</h4>
  <p>
    Мы верим, что для обращения грешника к Богу необходима вера, которая дается человеку действием Святого Духа через слышание Слова Божьего (Рим. 10:17; Евр. 11:6; Деян. 4:4). Вера имееи три основных элемента:
    <ul>
      <li>познание Бога, Его Слова и Его воли (2Тим. 1:12);</li>
      <li>покорность Богу и Его Слову (Ин 10:27; Иак. 4:7);</li>
      <li>принятие того, что предлагает Бог (Ин 1:12; Рим. 8:15).</li>
    </ul>
  </p>
  <p>
    Божий порядок в спасении человека: факт, вера, чувство. Святой Дух через веру ведет человека к покаянию, пробуждает отвернуться от мертвых дел и обратиться к Богу (Деян. 11:21; 26:18; Еф. 2:8). Личное признание Иисуса Христа Господом и Спасителем является подтверждением истинной веры, которое сопровождается делами веры (2Кор. 4:13; Ин 20:28; Рим. 10:9-19; Мф 10:32,33; Лк 12:8-9; Деян. 8:37).
  </p>

  <h4>Покаяние и обращение</h4>
  <p>
    Мы верим, что покаяние дает лишь Бог по Своей милости и благости (Мр 1:15; Деян. 2:37-38; 11:18; Рим. 2:4). Покаяние и обращение содержат: печаль о грехе, признание греха перед Богом, оставление греха и принятие Иисуса Христа своим личным Спасителем (Пр. 28:13; 2Кор. 7:10; Деян. 26:20).
  </p>
  <p>
    Покаяние – это перемена в разуме, чувствах и особенно в воле человека (Деян. 2:37-38; 9:6,20; Лк 15:20; Мф 21:29). Признаком истинного покаяния являются поступки, достойные покаяния (Деян. 26:20; Лк 19:8-9).
  </p>
  <h4>Возрождение</h4>
  <p>
    Мы верим,  что следствием обращения и личного принятия Иисуса Христа Спасителем и Господом является рождение свыше от Святого Духа и Слова Божьего, что есть необходимым условием усыновления и вхождения в Царство Божье (Ин 1:12-13;3:3;Як. 1:18; 1Кор. 4:15; Гал. 3:26).
  </p>
  <p>
    Возрождение – это не переделывание греховной природы человека, но воскресение его из мертвого духовного состояния и рождение для новой жизни (Ин 3:3, 5-6; 1Кор. 6:19; 2Кор. 5:17; Гал. 5:17; 1Пет. 2:9; 2Пет. 1:4).
  </p>
  <p>
    Настоящими признаками возрождения являются: коренное изменение жизни, любовь к Богу, Его Слову, любовь к Церкви и людям; ненависть ко греху, жажда к общению с Богом через молитву, уподобление Христу (1Ин 3:1; 5:1; 2Кор. 3:18; Еф. 2:5; Гал. 4:19; 5:13).
  </p>
  <p>
    Рожденные свыше имеют уверенность в спасении, которая зиждется на Божьем Слове (1Ин 5:13), при свидетельстве Святого Духа (Рим. 8:16) и факте пережитого принятия Иисуса Христа (Ин 1:12)
  </p>
  <h4>Оправдание</h4>
  <p>
    Мы верим, что человек, поверив в Иисуса Христа, получает оправдание верой, не зависимо от дел Закона (Рим. 3:28; 2Кор. 5:21). Путем оправдания изменяется положение верующего перед Богом, Который освобождает его от осознания вины и страха осуждения за грех, потому что Христос взял всю вину на Себя и понес наказание за нее. Верующему засчитывается праведность Христа, будто он вообще не был виновен. Обращенный человек получает мир с Богом и право владения славным наследием со Христом (Рим. 4:5; 5:1; 5:9; 8:1; 8:17; 8:30).
  </p>
  <h4>Усыновление</h4>
  <p>
    Мы верим, что через рождение свыше человек получает новую природу и в нем пребывает Дух Святой (1Кор. 3:16; 6:19). В день уверования человек становится дитем Божьим и получает все права, обязанности и преимущества Царского наследника (Ин 1:12; 1Ин 3:1-2; Гал. 4:1-7). Поэтому Писание не требует искать особенные признаки спасения (Деян. 13:39; Рим. 5:1; 1Кор. 3:21-23; Еф. 1:3; 4:30; Кол.2:10; 1Ин 5:11-13).
  </p>
  <p>
    Получив усыновление, дитя Божье становится предметом особенной Божьей любви (Ин 17:23), Его родительской заботы (Лк 12:27-33) и дисциплинирования (Евр. 12:5-11), а также имеет право на наследство (1Пет. 1:3-5; Рим. 8:17) и свободный доступ  к Небесному Отцу (Еф. 3:12). Дитем Божьим руководит Дух Святой (Рим. 8:4; Гал. 5:18), оно во всем покоряется Богу (1Ин 5:1-3).
  </p>
  <h4>Освящение</h4>
  <p>
    Мы верим, что Бог в Иисусе Христе совершил спасение человека, родил его для новой жизни, оправдал и усыновил, введя в семью Божью (Еф. 2:19; 1Пет. 2:9-10). Более того, — Бог позаботился о нашем освящении, ведь это Его воля (1Фес. 4:3; 1Пет. 1:16).
  </p>
  <p>
    Освящение — это отделение от греха, освящение себя Богу и преображение в образ Иисуса Христа (1Фес. 4:7; Фил. 2:15; Кол. 3:5-8; 2Кор. 6:17-18).
  </p>
  <h4>Возрастание в освящении:</h4>
  <p>
    НАЧАЛЬНОЕ освящение человек получает в день покаяния и по своему состоянию становится святым во Христе, имея общение со Святым Богом (1Кор. 1:2; 6:11; Рим. 1:7; Евр. 10:10).
  </p>
  <p>
    Освящение В ВОЗРАСТАНИИ начинается со дня обращения и продолжается всю жизнь как процесс практического освобождения от силы и власти греха, уподобления Господу Иисусу Христу, Его жизни и характеру (2Кор. 3:18; Еф. 4:11-15; 5:27; Фил. 3:10-15; 1Фес. 4:1; 2Пет. 3:18; Откр. 22:11).
  </p>
  <p>
    Для этого Бог дал благодатные средства:
    <ul>
      <li>Слово Божье, как  свет, духовная пища и действенная сила для освящения (Ис. Нав. 1:8; Пс. 1:1-2; Мф 4:4; Ин 13:8; 2Тим. 3:16-17);</li>
      <li>молитва, с помощью которой  верующий общается с Богом, славит и почитает Его, исповедуется в сделанных проступках, открывает свои желания перед Ним, всегда и за все благодарит и ходатайствует о покаянии и спасении других людей (Мф 26:41; Ин 4:23-24; 16:23; 1Ин 1:9; 1Фес. 5:17-18; Фил. 4:6; 1Тим. 2:1-4);</li>
      <li>руководство Святого Духа, Который освящает человека и производит в нем плод (1Пет. 1:2; 2Фес. 2:13; Еф. 3:16; Гал. 5:22-23), ведет верующего в жизни так, что тому все содействует ко благу (Рим. 8:28);</li>
      <li>постоянное пребывание верой во Христе, подобно ветви на виноградной лозе или члену Тела Христова (Ин 15:2,5,8; 1Кор. 12:27).</li>
    </ul>
  </p>
  <p>
    СОВЕРШЕННОЕ, или ПОЛНОЕ, освящение настанет при восхищении Церкви, когда произойдет воскресение умерших в Господе и изменение тех детей Божьих, которые живут на земле, и получение ими воскресших тел без присутствия греха, подобных славному телу Господа (1Фес. 3:13; 4:17; 5:23; 1Ин. 3:2).
  </p>
  <p>
    Спасенные будут разделять с Христом Его славу во веки вечные (Ин 17:22; 1Пет. 5:10; 1Фес. 2:12; Евр. 2:10; 2Тим. 2:10).
  </p>
  <p>
    Потому «старайтесь иметь мир со всеми и святость, без которой никто не увидит Господа» (Евр.12:14).
  </p>
  <h2>V. ЦЕРКОВЬ ХРИСТОВА</h2>

  <h4>Вселенская Церковь</h4>
  <p>
    Мы верим, что Вселенская Церковь является невидимым собранием духовно рожденных людей, искупленных Иисусом Христом из всех народов на протяжение всех времен, которые были присоединены к Телу Христову посредством крещения Святым Духом, которое происходит во время рождения свыше, и находятся как на небе, так и на земле (Ин 3:3, 1Кор. 12:13; Евр. 12:33).
  </p>
  <p>
    Вселенская Церковь Христова не является продолжением старозаветного Израиля, но была рождена в муках Голгофы и сотворена Иисусом Христом в День Пятидесятницы на основе апостолов и пророков, где краеугольным камнем есть Сам Господь Иисус Христос. Она являет собой новый Божий народ, невидимый Господний храм, живой духовный организм, главой которого есть Иисус Христос, а все верующие – члены (Мф 16:18; Деян 2; Гал. 3:28: Еф. 1:22-23; 2:19-22; Кол. 1:18).
  </p>
  <p>
    Вселенская Церковь Христова после окончания периода благодати будет восхищена на облака для встречи с Господом и дальнейшего вечного пребывания с Ним (1Фес. 4:16-17).
  </p>
  <p>
    Принадлежность ко Вселенской (невидимой) Церкви не освобождает человека от обязанности принадлежать к поместной церкви, ибо только в ней он может выполнять свои обязательства относительно своих братьев и сестер во Христе (Евр. 10:25; Мф 18:17).
  </p>
  <h4>Поместная церковь</h4>
  <p>
    Мы верим, что поместная церковь является видимым собранием рожденных свыше людей, которые находятся в одной местности, объединены одной верой на основании Слова Божьего и постоянного пребывания «в учении Апостолов, в общении и преломлении хлеба и в молитвах» (Деян. 2:42; Фил. 1:1; Еф. 4:4-6), и является составной частью Вселенской Церкви.
  </p>
  <p>
    Поместная церковь призвана утверждать Царство Христово на земле посредством проповеди Евангелия миру (Мф 28:19; Мр 16:15), совместное поклонение и прославление Господа (Еф. 5:18-20), взаимную любовь и единение верующих, согласно Первосвященнической молитве Христа (Ин 17:21-23).
  </p>
  <h4>Домашняя церковь</h4>
  <p>
    Мы верим, что домашняя церковь является видимым собранием возрожденных душ, которые проживают в одном доме, в одной семье (1Кор. 16:19; Рим. 16:3-4; Кол. 4:15) и принадлежат к поместной церкви.
  </p>
  <p>
    Для членов домашней церкви Священное Писание устанавливает определенные ответственность и обязанности:
    <ul>
      <li>для мужей и жен (Еф. 5:22-33);</li>
      <li>родителей и детей (Еф. 6:1-4);</li>
      <li>господ и слуг (Еф. 6:5-9);</li>
      <li>старших и младших (Титу 2:2-6).</li>
    </ul>
  </p>
  <h3>Новозаветные постановления</h3>

  <h4>Крещение по вере</h4>
  <p>
    Мы верим, что крещение – это заповедь Господа нашего Иисуса Христа, которая установлена для тех, кто обратился от своих грехов, уверовал в Иисуса Христа как личного Спасителя, был рожден свыше, и является актом послушания Богу и свидетельством своей веры для окружающих (Мф  28:19).
  </p>
  <p>
    Крещение по вере является внешним знаком, который символизирует смерть верующего для греха и его воскресение со Христом для новой жизни (Рим. 6:3-11; Гал. 3:27 ).
  </p>
  <p>
    Крещение по вере совершается служителями Церкви (пресвитерами) путем полного погружения в воду людей, которые во взрослом возрасте сознательно исповедуют свою веру в Иисуса Христа как в своего личного Спасителя и Бога, были научены в Церкви основам веры и придерживаются заповедей Слова Божьего в практической жизни (Мр 16:16; Деян. 2:41; 8:36-38; 1Пет. 3:21).
  </p>
  <h4>Вечеря Господня</h4>
  <p>
    Мы верим, что Вечеря Господня – это заповедь Господа нашего Иисуса Христа, которая установлена для того, чтобы вспоминать и возвещать смерть Господню доколе Он придет (1Кор. 11:23-26; Лк 22:17-20).
  </p>
  <p>
    Вечеря Господня выражает благодарность, единение верующих со Христом и друг с другом (1Кор. 10:16-17).
  </p>
  <p>
    Хлеб и вино указывают на ТЕЛО и КРОВЬ Иисуса Христа, и, принимая эти знаки, верующий имеет духовную общность с Ним (Мф 26:26-28).
  </p>
  <h2>VI. ДУХОВНЫЙ МИР</h2>

  <h4>Ангелы Божьи</h4>
  <p>
    Мы верим, что существуют особенные духовные существа – ангелы, – которые сотворены Богом (Пс. 33:8; 90:11; 102:20; Мф 1:20; 8:16; 12:45; Лк 7:21; 8:2; 11:26; Деян 1:10-11; Кол. 1:16; Евр. 1:14; Откр. 16:14).
  </p>
  <p>
    Ангелы превосходят людей силой и знаниями (2 Цар. 19:35; Пс. 102:20; 2Пет. 2:11; Иак.2:19; Откр. 12:12).
  </p>
  <p>
    Ангелы не женятся (Мф 22:30) и не умирают (Лк 20:36).
  </p>
  <p>
    Господь создал всех ангелов святыми (Быт. 1:31; Мф 25:31; Мр 8:38; 2Пет. 2:4). Ангелы не равны Богу, они служебные духи (Евр. 1:4-7; Пс. 103:4). Им нельзя поклоняться и отдавать почести, как Богу (1Цар. 11:4-8,33; 2Цар. 1:3; 1Кор. 10:20).
  </p>
  <p>
    Ангелы иерархически организованы Богом и выполняют различные функции:
    <ul>
      <li>ангелы (Мф 1:20);</li>
      <li>архангелы  ( Дан. 10:13,21; 12:1-2;   Иуды 9; 1Фес. 4:16);</li>
      <li>херувимы (Быт. 3:24; Исх. 26:1; Иез.  1:4-5; 10:15-20);</li>
      <li>серафимы ( Ис. 6:2-6).</li>
    </ul>
  </p>
  <p>
    Большая часть ангелов осталась послушной Богу и исполняет Его волю (Мф 25:31; 26:53; Лк 2:9-14; Евр. 1:14). Они славят Бога (Пс. 146:1-2; Ис. 6:3), поклоняются Богу (Евр. 1:6; Откр. 5:8-13), служат Богу (Пс. 102:20; Откр. 22:9; Мф 1:20; Лк 1:26-28; 2:13-14). Ангелы также служат Церкви и всем, кто унаследует спасение (Лк 16:22; Евр. 1:14; 1Кор. 4:9; 11:10; Еф. 3:10; 1Пет. 1:12; Деян. 12:11; 27:23-24). Будущее Божьих ангелов — в славе (Мф 25:31).
  </p>
  <h4>Падшие ангелы</h4>
  <p>
    Мы признаем, что другая часть ангелов: бесы (Мф 8:28-31), духи нечистые (Мр 1:23), не сохранили своего достоинства (Иуды 6), согрешили (2Пет. 2:4). Часть из них заключены в темной бездне (2Пет. 2:4; Иуды 6), а другая часть действует на свободе (Лк 8:30-31; Еф. 2:2; Евр. 6:12). Эти ангелы противятся замыслам Бога (Дан. 10:10-14; Откр. 16:13-16) и содействуют распространению лжеучений (1Ин 4:1-4; 1Тим. 4:1), приносят физические и душевные страдания людям (Мф 9:33; 12:22; 17:15-18; Мр 9:22; Лк 8:27-29; 9:37-42).
  </p>
  <p>
    Падшие ангелы также имеют организацию, а их глава — бывший херувим (Иез. 28:14-15). Он назван сатаной (противником – Зах. 3:1-2; Иова 1:6; 2:1; Мф 4:10; Лк 22:31), диаволом (клеветником – Мф 4:1; 13:39; Ин 13:20; Откр. 13:9-10; 20:2), князем этого мира (Ин 12:31).
  </p>
  <p>
    Для сатаны и его ангелов приготовлен суд (1Кор. 6:3; 2Пет. 2:4; Иуды 6) и наказание в  огненном озере (Мф 25:41; Откр. 20:10).
  </p>
  <h2>VII. БУДУЩИЕ СОБЫТИЯ</h2>

  <h4>Второе пришествие Христа</h4>
  <p>
    Мы верим, что вскоре Христос придет на землю второй раз – в силе и славе (Мф 25:31; Деян 1:11). О дне и часе Его прихода не знает никто из людей (Мф 24:31).
  </p>
  <p>
    Различают две фазы второго пришествия Христа:
    <ul>
      <li>приход (явление) за Своей Церковью, невидимый для мира, во время которого состоится восхищение Церкви (1Фес. 4:16-17);</li>
      <li>приход со Своей Церковью для тысячелетнего царствования (Откр. 19:11-21), тогда Его увидит всякое око (Откр. 1:7).</li>
    </ul>
  </p>
  <p>
    Мы верим, что настанет великая скорбь, которая должна прийти на землю (Мф 24:21).
  </p>

  <h4>Воскресение мертвых</h4>
  <p>
    Мы верим в два воскресения в будущем:
    <ul>
      <li>воскресение первое – это воскресение к жизни умерших во Христе и перемена верных, которые остались в живых (1Кор. 15:51-53; 1Фес. 4:16-17; Фил. 3:21; Откр. 20:6) и воскресение  мучеников времен «великой скорби» (Откр. 20:4-6);</li>
      <li>второе — воскресение грешников для осуждения (Ин 5:28-29; 0ткр. 20:12-13).</li>
    </ul>
  </p>
  <p>
    Мы верим, что после восхищения Церковь станет перед Судным престолом Христовым (2Кор. 5:10), чтобы получить похвалу (Мф 25:21) и венцы «[соответственно тому], что он делал, живя в теле, доброе или худое (1Фес. 2:19; 1Тим. 4:8; 1Пет. 5:4; Иак. 1:12; Откр. 2:10).
  </p>
  <p>
    Мы верим в тысячелетнее Царство Христа (Откр. 20:2-4).
  </p>
  <h4>Последний суд</h4>
  <p>
    Мы верим в окончательный суд Великого Белого Престола (Откр. 20:11), который начнется после последнего воскресения. После суда наступит вечность, которая для одних будет бесконечным блаженством со Христом, а для других – вечными муками (Мф 25:46; Деян. 12:2). Священное Писание указывает на невозможность перехода в вечности из одного состояние в другое (Лк 16:24-26)
  </p>
</div>