<footer class="footer">
  <div class="row">
    <div class="col-md-6">
      <small>
        <a href="http://www.svitlo-spas.narod.ru/">Light of Salvation</a>
      </small>
    </div>
    <div class="text-right col-md-6">
<!--       <%= link_to "SignUp",    signup_path %>
      <%= link_to "SignIn",    signin_path %> -->
    </div>
</footer>